:root {
    --primary-color: rgb(157, 206, 252);
    --secondary-color: rgb(211, 211, 211);

}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    background-color: var(--primary-color);
}

.sidebar h2 {
    margin-top: 1em;
}

.views li {
    background-color: var(--secondary-color);
}

/* user-defined categories */
.life {
    background-color: orange;
}

.work {
    background-color: greenyellow;
}

.senior-design {
    background-color: lightcoral;
}

.intro-to-computer-architecture {
    background-color: beige;
}

.innovation-and-design {
    background-color: violet;
}

.intro-to-cybersecurity {
    background-color: aquamarine;
}