:root {
  --primary-color: #9dcefc;
  --secondary-color: #d3d3d3;
  --tertiary-color: #f8c046;
}

.card {
  margin-bottom: 1em;
}

.card, .list-group-item, .card-header {
  border: none;
}

#show-all {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 1em;
  border-radius: 1em;
}

#show-all-div {
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
  align-content: right;
}
