/* Define color variables */
:root {
  --primary-color: #282A3A;
  --secondary-color: #ffffff;
  --tertiary-color: #f8c046;
  --text-color: #ffffff;
  --border-color: #ccc;
  --night-background-color: #000;
  --night-text-color: #fff;
  --night-border-color: #555;
}

/* Style cards */
.card {
  margin-bottom: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: transform .2s ease-in-out; /* Add transition for hover effect */
}

.card:hover {
  transform: scale(1.02); /* Slightly enlarge the card on hover */
}

/* Remove borders */
.card, .list-group-item, .card-header {
  border: none;
}

/* Style the "Show All" button */
#show-all {
  background-color: #000;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 1em;
  transition: background-color .2s ease-in-out; /* Add transition for hover effect */
}

#show-all:hover {
  background-color: var(--tertiary-color); /* Change background on hover */
}

/* Position the "Show All" button */
#show-all-div {
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
  align-content: right;
  z-index: 1000; /* Make sure it appears above other elements */
}

/* Additional styling for text */
body, h1, h2, h3, p {
  color: var(--text-color);
  font-family: 'Arial', sans-serif; /* Use a more readable font */
}

/* Add some spacing and alignment */
.container, .row, .col {
  margin: 1em;
  padding: 1em;
}

/* Style login and logout buttons (if you have specific IDs or classes, replace these) */
button {
  background-color: #735F32;
  color: #ffffff;
  border: 1px solid var(--border-color);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button:hover {
  background-color: #C69749;
}

/* body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  overflow-y: auto;
}

body.night-mode {
  background-color: var(--night-background-color);
  color: var(--night-text-color);
}

body.night-mode #show-all {
  background-color: var(--night-background-color);
  color: var(--night-text-color);
  border-color: var(--night-border-color);
} */