:root {
  --primary-color: #9dcefc;
  --secondary-color: #d3d3d3;
  --tertiary-color: #f8c046;
  --life: #ffa500;
  --work: #adff2f;
  --senior-design: #f08080;
  --intro-to-computer-architecture: #deb887;
  --innovation-and-design: #ee82ee;
  --intro-to-cybersecurity: #7fffd4;
}

.card {
  margin-bottom: 1em;
}

.card, .list-group-item, .card-header {
  border: none;
}

/* user-defined categories */
.life {
  background-color: orange;
}

.work {
  background-color: greenyellow;
}

.senior-design {
  background-color: lightcoral;
}

.intro-to-computer-architecture {
  background-color: burlywood;
}

.innovation-and-design {
  background-color: violet;
}

.intro-to-cybersecurity {
  background-color: aquamarine;
}

#show-all {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 1em;
  border-radius: 1em;
}

#show-all-div {
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
  align-content: right;
}
