.edit-category-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .edit-category-form label,
  .edit-category-form input {
    font-weight: bold;  /* Make the text bold */
    margin-bottom: 10px;
  }
  
  .edit-category-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Center buttons vertically */
  }
  
  .submit-button,
  .delete-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100px;  /* Explicit width */
    height: 40px;  /* Explicit height */
  }
  
  .submit-button:disabled,
  .delete-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  